* {
    padding: 0;
    margin: 0;
}

.disabled { display: none !important}

html {
    background: var(--crust);
    color: var(--text);
}

body {
    display: grid;
    grid-template-columns: 1fr;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 1em;
    background-color: var(--mantle);
    padding: 1em;
}

main {
    background: var(--surface0);
    padding: 1em;
    margin: 2em 5%;
    border-radius: 25px;
    display: grid;
    gap: 1em;
}

header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

@media (max-width: 475px) {
    header {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .answerOptions {
        flex-direction: column;
    }

    .buttonsWrapper {
        flex-direction: column;
    }
}

/* Old Code */

.answerOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
}

.answerOption {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    background-color: var(--surface2);
    border-radius: 25px;
}

.answerOption:hover,
.answerOption.selected {
    background-color: var(--mauve);
    color: var(--crust);
}

#answerBox {
    background-color: var(--surface1);
    width: 100%;
    color: var(--text);
    border: none;
    border-radius: 25px;
    height: 3em;
    text-align: center;
    font-weight: 1000;
}

.buttonsWrapper {
    display: flex;
    justify-self: center;
    gap: 0.5em;
}

::file-selector-button,
.AnswerButton,
.switchType {
    padding: 0.5em 1em;
    background-color: var(--surface1);
    border: none;
    color: var(--text);
    border-radius: 25px;
}

::file-selector-button:hover,
.AnswerButton:hover,
.switchType:hover {
    background-color: var(--mauve);
    color: var(--crust)
}

.CorrectOrIncorrect {display: none;}

.Correct,
.Incorrect {
    color: var(--base);
    padding: 0.5em;
    border-radius: 15px;
}

.Correct {
    background-color: var(--green);
}

.Incorrect {
    background-color: var(--red);
}