/* * {
    padding: 0;
    margin: 0;
} */

.answerOptions {
    display: flex;
    gap: 1em;
    list-style: none;
}

.answerOption {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 0 1em;
    background-color: gray;
    border-radius: 25px;
}

.answerOption:hover,
.answerOption.selected {
    background-color: blue;
}

.CorrectOrIncorrect {
    background-color: gray;
    padding: 0.5em;
}